
body {
  font-family: 'Arial', sans-serif;
  background: #8e8e8e url('image/icon.png') center/contain no-repeat;
  color: #d1d1d1;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

a:hover {
  color: #2a2828;
}

.card:hover,
.hoverable:hover {
  box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
}

button {
  display: block;
  margin-top: 20px;
  height: 90px;
  width: 120px;
  color: black;
  transition: all 200ms linear;
  border: none;
}

button:hover {
  margin-top: 0;
  box-shadow: 0 0 4px 1px grey;
}

.btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.jumboBackground {
  background: url(../image/code.png) center/cover no-repeat;
  height: calc(100vh - 25px);
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 10px;
}

.container1,
.container {
  width: 80%;
  margin: 0 auto;
}


.image-container {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  margin-bottom: 10px;
}

.image-container img {
  width: 100%;
  height: auto;
}


header,
nav {
  background-color: #333;
  color: rgb(0, 0, 0);
  text-align: center;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}


nav {
  padding: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  color: #000000;
}

nav li {
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  font-weight: bold;
}


main,
section {
  margin-bottom: 20px;
  color: #cfcfcf;
  display: flex;
  flex-direction: column;
  align-items: center;
}


#column,
#row {
  background-color: #000;
  flex-direction: column;
}


#row {
  background-color: #000000;
  flex-direction: row;
}


footer {
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: center;
}


@media only screen and (max-width: 768px) {
  main h1,
  main p,
  section h1,
  section p {
    padding: 30px;
  }
}

@media only screen and (max-width: 480px) {
  main h1,
  main p,
  section h1,
  section p {
    padding: 20px;
  }
}
